<section class="card comment" data-id={{id}}>
    <p>{{content}}</p>
    <p class="comment-info">Comment made by: <span class="username">{{user.username}}</span> @ {{post_date}}</p>    
  </a>
</section>

