{{#if loggedIn}}

{{#if blogposts}}
{{#each blogposts as |blogpost|}}
  {{> dash-blogpost-details}}
{{/each}}

{{else}}
<h3>You have no blogposts yet!!</h3>
{{/if}}

<button id="new-post-btn">Create New Post</button>

<form id="new-post-form" class="form post-form" style="display:none">
  <div class="form-group">
    <label for="post-title">Title:</label>
    <input class="form-input" type="text" id="post-title" />
  </div>
  <div class="form-group">
    <label for="post-content">Content:</label>
    <input class="form-input" type="text" id="post-content" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit Post</button>
  </div>
</form>

<script src="/js/newpost.js"></script>
<script src="/js/clickpost-dash.js"></script>
{{else}}
<h3>Dashboard available for logged-in members only!</h3>
<button id="db-login">Log In</button>
<button id="db-signup">Sign Up</button>
<script src="/js/dash-guest.js"></script>
{{/if}}


